@media screen and (min-width: 768px) {
    .hero{
     display:grid;
     grid-template-columns: 1fr 1fr;
     align-items:center;
     .heroContent{
         align-items:start;
         text-align:left;
         h2{
             font-size:5em;
         }
     }
    }
 }