// Fonts - Anton, Poppins
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;700&display=swap");

// variables
$body_bg: #f1f5f9;
$alt_bg: #e2e8f0;
$body_text: #475569;
$title_text: #1e293b;
$light_text: #ffffff;
$primary: #f59e0b;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: $body_bg;
  color: $body_text;
  font-size: 1.125rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  overflow-wrap: break-word;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  padding: 5px;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}

/* Button */
.btn {
  padding: 5px 15px;
  cursor: pointer;
  background: $primary;
  border: 2px solid $primary;
  border-radius: 3px;
  color: $light_text;
  &:hover {
    opacity: 0.9;
  }
}

/* Container */
.container {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    [content-start]
    min(calc(100% - 2rem), 1200px)
    [content-end]
    minmax(1rem, 1fr);
}
.container > * {
  grid-column: content;
}

//Header Section
#headerSection {
  background: $alt_bg;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.logo {
}
nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  .menuItem {
    cursor: pointer;
    color: $title_text;
    font-weight: bold;
  }
  .active {
    color: $primary;
  }
  a {
    text-decoration: none;
  }
}

//Hero Section
#heroSection {
  background: $title_text;
}
.hero {
  margin: 60px 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  .heroContent {
    color: $light_text;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    h2 {
      font-size: 4rem;
      font-family: "Anton";
      text-transform: uppercase;
      line-height: 1;
    }
  }
}

// Products Grid
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 30px;
  margin: 60px 0;
}

.productGridItem {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.itemContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  padding: 20px;
  h2 {
    font-size: 1.5rem;
    color: $title_text;
  }
  .rating {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .itemMeta {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .itemPrice {
      font-size: 2rem;
      font-weight: bold;
      color: $title_text;
    }
  }
}

//Cart Page styles

.cartPage {
  margin: 60px 0px;
}

.cartPageTitle {
  margin-bottom: 30px;
}
.cartList {
  border: 1px solid #ddd;
}
.cartFooter {
  display: flex;
  justify-content: space-between;
  background-color: $alt_bg;
}
.totalInfo {
  font-weight: bold;
  color: $title_text;
}
// Sidebar

#sidebar {
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
}
.cart {
  max-width: 360px;
  background: #fff;
  margin-left: auto;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
.cartHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $alt_bg;

  h2 {
    font-size: 1.5rem;
  }
}
.cartItem {
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid $alt_bg;
  .cartContent {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    h2 {
      font-size: 16px;
    }
    .quantityControl {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
  .cartInput {
    margin-left: auto;
    width: 60px;
    font-size: 14px;
  }
}
.cartFooter {
  padding: 20px;
}

// Footer
#footerSection {
  background: $alt_bg;
}

.footer {
  margin: 30px 0px;
  text-align: center;
}

//Imports Responsive Styles
@import "responsive";
